body {
background-color: grey;
overflow-x: hidden;
justify-content: center;
justify-items: center;
}
header{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
h1, h2, h3, h4, h5 {
font-family:Arial, Helvetica, sans-serif;
color: white;
}
h1 {
    text-align: center;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    max-width: 800px;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1.5px rgb(120, 38, 214); */
}
.navbar{
display: flex; justify-items: center; align-content: center; justify-content: space-evenly; margin: 7px; align-items: center;
height: 40px;
color: white;
border-color: white;
border-width: 3px;
border-style: solid;
width: 800px;
max-width: 90%;
}
.presentations{
    background-color: rgba(8, 8, 8, 0.411);
    padding: 20px;
    border: solid;
    margin: 2px;
}
form{
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
}
a:hover{
    transform: scale(1.2);
}
footer{
    position: fixed;
    right: 2%;
    top: 2%;
}
#formulaire_cours_p{
    padding: 15px;
    background-color: rgb(212, 212, 212);
    /* background-image: url(./azhar_aura_farm_avec_shaki_a_cote.jpeg); */
    background-size: 100%;
    border-radius: 10px;
    border-style: solid;
}
#clickable:hover{
    transform: scale(1.1);
}